@model Agilisium.TalentManager.WebUI.Models.EmployeeModel

@{
    ViewBag.Title = "New Employee Details";
}

<link href="~/Content/error-styles.css" rel="stylesheet" />
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>


<script type="text/javascript">


    $(document).ready(function () {
        generateEmployeeIDForEmpPage();
        loadPracticeDropDownListForEmpPage();
        loadSubPracticeDropDownForEmpPage();

        $("#DateOfJoin").datepicker({

            dateFormat: "mm/dd/yy",
            changeMonth: true,
            changeYear: true,
            showAnim: "fadeIn",
        });

        $("#LastWorkingDay").datepicker({

            dateFormat: "mm/dd/yy",
            changeMonth: true,
            changeYear: true,
            showAnim: "fadeIn",
        });

        $("#VisaValidUpto").datepicker({

            dateFormat: "mm/dd/yy",
            changeMonth: true,
            changeYear: true,
            showAnim: "fadeIn",
        });

        $("#PassportValidUpto").datepicker({

            dateFormat: "mm/dd/yy",
            changeMonth: true,
            changeYear: true,
            showAnim: "fadeIn",
        });
    });

    $(function () {
        $("#BusinessUnitID").change(function (event) {
            loadPracticeDropDownListForEmpPage();
        });
    });

    $(function () {
        $("#PracticeID").change(function (evt) {
            loadSubPracticeDropDownForEmpPage();
        });
    });

    $(function () {
        $("#EmploymentTypeID").change(function (event) {
            generateEmployeeIDForEmpPage();
        });
    });

    $(function () {
        $("#EmployeeID").change(function (event) {
            if ($("#EmployeeID").val().length > 0) {
                $("#empID").val($("#EmployeeID").val())
            }
        })
    })
</script>

<div class="panel panel-default">
    <div style="text-align:center" class="panel-heading">
        <h3><b>New Employee Details</b></h3>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="panel-body">
            @Html.ValidationSummary(false, "Please correct the below Validation Errors to save the data")
            <div>
                <table style="width:86%;" cellpadding="5" cellspacing="5px">
                    <tr>
                        <td width="20%">
                            <div class="form-group">
                                @Html.LabelFor(model => model.EmploymentTypeID)
                                @Html.DropDownListFor(model => model.EmploymentTypeID, (IEnumerable<SelectListItem>)ViewBag.EmploymentTypeListItems, "Please Select", new { @class = "form-control" })
                            </div>
                        </td>
                        <td width="2%"></td>
                        <td width="20%">
                            <div class="form-group">
                                @Html.HiddenFor(model => model.EmployeeID, new { id = "empID" })
                                @Html.LabelFor(model => model.EmployeeID)
                                @Html.EditorFor(model => model.EmployeeID, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </td>
                        <td width="2%"></td>
                        <td width="20%">
                            <div class="form-group">
                                @Html.LabelFor(model => model.FirstName)
                                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </td>
                        <td width="2%"></td>
                        <td width="20%">
                            <div class="form-group">
                                @Html.LabelFor(model => model.LastName)
                                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td width="20%">
                            <div class="form-group">
                                @Html.LabelFor(model => model.DateOfJoin)
                                @Html.EditorFor(model => model.DateOfJoin, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </td>
                        <td width="2%"></td>
                        <td width="20%">
                            <div class="form-group">
                                @Html.LabelFor(model => model.EmailID)
                                @Html.EditorFor(model => model.EmailID, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </td>
                        <td width="2%"></td>
                        <td width="20%">
                            <div class="form-group">
                                @Html.LabelFor(model => model.BusinessUnitID)
                                @Html.DropDownListFor(model => model.BusinessUnitID, (IEnumerable<SelectListItem>)ViewBag.BuListItems, "Please Select", new { @class = "form-control" })
                            </div>
                        </td>
                        <td width="2%"></td>
                        <td>
                            <div class="form-group">
                                @Html.LabelFor(model => model.ReportingManagerID)
                                @Html.DropDownListFor(model => model.ReportingManagerID, (IEnumerable<SelectListItem>)ViewBag.ReportingManagerListItems, "Please Select", new { @class = "form-control" })
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td width="20%">
                            <div class="form-group">
                                @Html.LabelFor(model => model.PracticeID)
                                @Html.DropDownListFor(model => model.PracticeID, (IEnumerable<SelectListItem>)ViewBag.PracticeListItems, "Please Select", new { @class = "form-control" })
                            </div>
                        </td>
                        <td width="2%"></td>
                        <td width="20%">
                            <div class="form-group">
                                @Html.LabelFor(model => model.SubPracticeID)
                                @Html.DropDownListFor(model => model.SubPracticeID, (IEnumerable<SelectListItem>)ViewBag.SubPracticeListItems, "Please Select", new { @class = "form-control" })
                            </div>
                        </td>
                        <td width="2%"></td>
                        <td width="20%">
                            <div class="form-group">
                                @Html.LabelFor(model => model.PrimarySkills)
                                @Html.EditorFor(model => model.PrimarySkills, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </td>
                        <td width="2%"></td>
                        <td>
                            <div class="form-group">
                                @Html.LabelFor(model => model.SecondarySkills)
                                @Html.EditorFor(model => model.SecondarySkills, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td width="20%">
                            <div class="form-group">
                                @Html.LabelFor(model => model.TotalExperience)
                                @Html.EditorFor(model => model.TotalExperience, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </td>
                        <td width="2%"></td>
                        <td width="20%">
                            <div class="form-group">
                                @Html.LabelFor(model => model.TechnicalRank)
                                @Html.DropDownListFor(model => model.TechnicalRank, (IEnumerable<SelectListItem>)ViewBag.GradeListItems, "Please Select", new { @class = "form-control" })
                            </div>
                        </td>
                        <td width="2%"></td>
                        <td width="20%">
                            <div class="form-group">
                                @Html.LabelFor(model => model.PassportNo)
                                @Html.EditorFor(model => model.PassportNo, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </td>
                        <td width="2%"></td>
                        <td>
                            <div class="form-group">
                                @Html.LabelFor(model => model.PassportValidUpto)
                                @Html.EditorFor(model => model.PassportValidUpto, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td width="20%">
                            <div class="form-group">
                                @Html.LabelFor(model => model.VisaCategoryID)
                                @Html.DropDownListFor(model => model.VisaCategoryID, (IEnumerable<SelectListItem>)ViewBag.VisaCategoryListItems, "Please Select", new { @class = "form-control" })
                            </div>
                        </td>
                        <td width="2%"></td>
                        <td width="20%">
                            <div class="form-group">
                                @Html.LabelFor(model => model.VisaValidUpto)
                                @Html.EditorFor(model => model.VisaValidUpto, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </td>
                        <td width="2%"></td>
                        <td width="20%">
                            <div class="form-group">
                                @Html.LabelFor(model => model.TravelledCountries)
                                @Html.EditorFor(model => model.TravelledCountries, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </td>
                        <td width="2%"></td>
                        <td>
                            <div class="form-group">
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="panel-footer">
                <input type="submit" value="Save" class="btn btn-primary" />
                @Html.ActionLink("Cancel and Go Back", "List", null, new { @class = "btn btn-default" })
            </div>
        </div>
    }
</div>
