@using Agilisium.TalentManager.WebUI.Helpers

@model Agilisium.TalentManager.WebUI.Models.EmployeeViewModel

@{
    ViewBag.Title = "Past Employees";
}

<div class="panel panel-default">
    <div style="text-align:center" class="panel-heading">
        <h3><b>Employees Who Resigned</b></h3>
    </div>
    <div class="panel-body">
        <table class="table table-striped table-condensed table-bordered">
            <tr>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.Employees.FirstOrDefault().EmployeeID)
                </th>
                <th class="text-center">
                    @Html.DisplayName("Employee Name")
                </th>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.Employees.FirstOrDefault().BusinessUnitName)
                </th>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.Employees.FirstOrDefault().PracticeName)
                </th>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.Employees.FirstOrDefault().SubPracticeName)
                </th>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.Employees.FirstOrDefault().DateOfJoin)
                </th>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.Employees.FirstOrDefault().LastWorkingDay)
                </th>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.Employees.FirstOrDefault().ReportingManagerName)
                </th>
            </tr>

            @foreach (var item in Model.Employees)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmployeeID)
                    </td>
                    <td>
                        @Html.ActionLink($"{item.FirstName} {item.LastName}", "View", new { id = item.EmployeeEntryID })
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BusinessUnitName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PracticeName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SubPracticeName)
                    </td>
                    <td class="text-right">
                        <text>@item.DateOfJoin.ToString("dd/MMM/yyyy")</text>
                    </td>
                    <td class="text-right">
                        @if (item.LastWorkingDay.HasValue)
                        {
                            <text>@item.LastWorkingDay.Value.ToString("dd/MMM/yyyy")</text>
                        }
                        else
                        {
                            <text>&nbsp</text>
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ReportingManagerName)
                    </td>
                </tr>
            }
        </table>
        <div class="btn-group pull-left">
            @Html.ActionLink("Back to Active Employees List", "List", "Employee", null, new { @class = "btn btn-primary" })
        </div>
        <div class="btn-group pull-right">
            @Html.AddPagination(Model.PagingInfo, x => Url.Action("PastEmployeeList", new { page = x }))
        </div>
    </div>
</div>