@model IEnumerable<Agilisium.TalentManager.WebUI.Models.SubPracticeHeadCountModel>

@{
    ViewBag.Title = "Competency-Wise Head Count";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h3>Head Count based on Competency</h3>
    </div>
    <div class="panel-body">

        @foreach (var item in Model)
        {
            <table style="width:30%" class="table table-striped table-bordered">
                <tr>
                    <td style="color:red">

                        POD Name: <b>
                            @Html.DisplayFor(model => item.Practice)
                        </b>
                        
                        <table style="color:black" class="table table-striped table-condensed table-bordered">
                            <tr>
                                <th class="text-left">
                                    @Html.DisplayNameFor(model => model.SubPractices.FirstOrDefault().SubPractice)
                                </th>
                                <th class="text-right">
                                    @Html.DisplayNameFor(model => model.SubPractices.FirstOrDefault().HeadCount)
                                </th>
                            </tr>
                            @foreach (var subItem in item.SubPractices)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(model => subItem.SubPractice)
                                    </td>
                                    <td class="text-right">
                                        @Html.DisplayFor(model => subItem.HeadCount)
                                    </td>
                                </tr>
                            }
                            <tr>
                                <td>
                                    <b>Total</b>
                                </td>
                                <td class="text-right">
                                    <b>@Html.DisplayFor(model => item.HeadCount)</b>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        }
    </div>
</div>