@model Agilisium.TalentManager.WebUI.Models.DevelopmentRequestModel

@{
    ViewBag.Title = "Update Development Request";
}
<link href="~/Content/error-styles.css" rel="stylesheet" />

<div class="panel panel-default">
    <div style="text-align:center" class="panel-heading">
        <h3><b>Update Development Request</b></h3>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="panel-body">
            @Html.ValidationSummary(false, "Please correct the below Validation Errors to save the data")
            <div>
                <table style="width:80%;">
                    <tr>
                        <td>
                            <div class="form-group">
                                @Html.HiddenFor(model => model.RequestID)
                                @Html.LabelFor(model => model.RequestTitle)
                                @Html.EditorFor(model => model.RequestTitle, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="form-group">
                                @Html.LabelFor(model => model.RequestTypeID)
                                @Html.DropDownListFor(model => model.RequestTypeID, (IEnumerable<SelectListItem>)ViewBag.RequestTypeListItems, "Please Select", new { @class = "form-control" })
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="form-group">
                                @Html.LabelFor(model => model.PriorityID)
                                @Html.DropDownListFor(model => model.PriorityID, (IEnumerable<SelectListItem>)ViewBag.PriorityListItems, "Please Select", new { @class = "form-control" })
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Remarks)
                                @Html.TextAreaFor(model => model.Remarks, 5, 3, new { @class = "form-control" })
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="form-group">
                                @Html.LabelFor(model => model.RequestStatusID)
                                @Html.DropDownListFor(model => model.RequestStatusID, (IEnumerable<SelectListItem>)ViewBag.StatusListItems, "Please Select", new { @class = "form-control" })
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="panel-footer">
                <input type="submit" value="Save" class="btn btn-primary" />
                @Html.ActionLink("Cancel and Go Back", "List", null, new { @class = "btn btn-default" })
            </div>
        </div>
    }
</div>
