@model Agilisium.TalentManager.WebUI.Models.SubCategoryModel

@{
    Layout = "~/Views/Shared/_SettingsLayout.cshtml";
    ViewBag.Title = "Update Sub-Category Details";
}
<link href="~/Content/error-styles.css" rel="stylesheet" />

<div class="panel panel-default">
    <div class="panel-heading">
        <h3><b>Update Sub-Category Details</b></h3>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="panel-body">
            @Html.ValidationSummary(false, "Please correct the below Validation Errors to save the data")

            @foreach (var property in ViewData.ModelMetadata.Properties)
            {
                if (property.PropertyName != "SubCategoryID" &&
                    property.PropertyName != "IsReserved" &&
                    property.PropertyName != "CategoryName" &&
                    property.PropertyName != "LoggedInUserName")
                {
                    <div class="form-group">
                        <label>@(property.DisplayName ?? property.PropertyName) </label>
                        @if (property.PropertyName == "CategoryID")
                        {
                            @Html.DropDownList("CategoryID", (IEnumerable<SelectListItem>)ViewBag.CategoryListItems, null, new { @class = "form-control" });
                        }
                        else if (property.PropertyName != "Description")
                        {
                            @Html.TextBox(property.PropertyName, null, new { @class = "form-control" })
                        }
                        else
                        {
                            @Html.TextArea(property.PropertyName, null, new { @class = "form-control", rows = 2 })
                        }
                    </div>
                }
                else
                {
                    @Html.Hidden(property.PropertyName);
                }
            }
            <div class="panel-footer">
                <input type="submit" value="Save" class="btn btn-primary" />
                @Html.ActionLink("Cancel and Go Back", "List", null, new { @class = "btn btn-default" })
            </div>
        </div>
    }
</div>
