@using Agilisium.TalentManager.WebUI.Helpers

@model Agilisium.TalentManager.WebUI.Models.SubCategoryViewModel

@{
    Layout = "~/Views/Shared/_SettingsLayout.cshtml";
    ViewBag.Title = "Sub-Categories Master";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h3><b>Sub-Categories Master</b></h3>
    </div>
    <div class="panel-body">
        <table>
            <tr>
                <td>
                    @using (Html.BeginForm())
                    {
                        <label>Categories</label>
                        @Html.DropDownListFor(d => d.SelectedCategoryID, Model.CategoryListItems, new { @style = "height: 32px;padding: 6px 12px;font-size: 14px;6px 12px;color: #555;background - color: #fff;border: 1px solid #ccc;border-radius: 4px;box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);" })
                        <input type="submit" value="Get Sub Categories" class="btn btn-primary" />
                    }
                </td>
            </tr>
            <tr><td>&nbsp;</td></tr>
        </table>

        <table style="width: 70%" class="table table-striped table-condensed table-bordered">
            <tr>
                <th width="20%" class="text-left">
                    @Html.DisplayNameFor(model => model.SubCategories.First().SubCategoryName)
                </th>
                <th width="10%" class="text-left">
                    @Html.DisplayNameFor(model => model.SubCategories.First().ShortName)
                </th>
                <th width="20%" class="text-left">
                    @Html.DisplayNameFor(model => model.SubCategories.First().CategoryName)
                </th>
                <th width="30%" class="text-left">
                    @Html.DisplayNameFor(model => model.SubCategories.First().Description)
                </th>
                <th width="10%" class="text-center">Actions</th>
            </tr>

            @foreach (var item in Model.SubCategories)
            {
                <tr>
                    <td>
                        @Html.ActionLink(item.SubCategoryName, "Edit", new { id = item.SubCategoryID })
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ShortName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CategoryName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td class="text-center">
                        @using (Html.BeginForm("Delete", "SubCategory"))
                        {
                            @Html.Hidden("id", item.SubCategoryID)
                            <input type="submit" onclick="return confirm('Are you sure you about deleting this Sub-Category?');" class="btn btn-default btn-xs" value="Delete" />
                        }
                    </td>
                </tr>
            }
        </table>
    </div>
    <div class="panel-footer">
        @Html.ActionLink("Add a New Sub-Category", "Create", null, new { @class = "btn btn-primary" })
        <div class="btn-group pull-right">
            @Html.AddPagination(Model.PagingInfo, x => Url.Action("List", new { page = x }))
        </div>
    </div>
</div>

