@model Agilisium.TalentManager.WebUI.Models.EmpAssetDetailModel

@{
    ViewBag.Title = "Employee Basic Details";
    Layout = "~/Views/Shared/_OpenLayout.cshtml";
}

@using (Html.BeginForm())
{
    <p>
        <ul>
            <h4><b><u>POINTS to NOTE</u></b></h4>
            <li>If "Reporting Manager" field is empty, please inform to your respective Manager who can update the same</li>
            <li>For "Designation" field, please enter the name as you see in your Outlook</li>
            <li>Please use SemiColon(;) to seperate each skill in "Primary Skills" and "Secondary Skills" fields, and do not use Comma(,)</li>
        </ul>
    </p>

    <div class="panel panel-default">
        <div style="text-align:left" class="panel-heading">
            <h3><b>Employee Basic Details for @Html.DisplayTextFor(model => model.EmployeeName)</b></h3>
        </div>

        @Html.AntiForgeryToken()
        <div class="panel-body">
            @Html.ValidationSummary(false, "Please correct the below Validation Errors to save the data")
            <div>
                <table style="width:86%;" cellpadding="5" cellspacing="5px">
                    <tr>
                        <td width="20%">
                            <div class="form-group">
                                @Html.HiddenFor(model => model.EmployeeEntryID)
                                @Html.HiddenFor(model => model.EmployeeID)
                                @Html.LabelFor(model => model.EmployeeName)
                                @Html.EditorFor(model => model.EmployeeName, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                            </div>
                        </td>
                        <td width="2%"></td>
                        <td width="20%">
                            <div class="form-group">
                                @Html.LabelFor(model => model.ReportingTo)
                                @Html.EditorFor(model => model.ReportingTo, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                            </div>
                        </td>
                        <td width="2%"></td>
                        <td width="20%">
                            <div class="form-group">
                                @Html.LabelFor(model => model.EmailID)
                                @Html.EditorFor(model => model.EmailID, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td width="20%">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Designation)
                                @Html.EditorFor(model => model.Designation, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </td>
                        <td width="2%"></td>
                        <td width="20%">
                            <div class="form-group">
                                @Html.LabelFor(model => model.OverallExperience)
                                @Html.EditorFor(model => model.OverallExperience, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </td>
                        <td width="2%"></td>
                        <td width="20%">
                            <div class="form-group">
                                @Html.LabelFor(model => model.LocationID)
                                @Html.DropDownListFor(model => model.LocationID, (IEnumerable<SelectListItem>)ViewBag.LocationsListItems, "Please Select", new { @class = "form-control" })
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td width="20%">
                            <div class="form-group">
                                @Html.LabelFor(model => model.VisaStatusID)
                                @Html.DropDownListFor(model => model.VisaStatusID, (IEnumerable<SelectListItem>)ViewBag.VisaTypeListItems, "Please Select", new { @class = "form-control" })
                            </div>
                        </td>
                        <td width="2%"></td>
                        <td width="20%">
                            <div class="form-group">
                                @Html.LabelFor(model => model.PrimarySkills)
                                @Html.EditorFor(model => model.PrimarySkills, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </td>
                        <td width="2%"></td>
                        <td>
                            <div class="form-group">
                                @Html.LabelFor(model => model.SecondarySkills)
                                @Html.EditorFor(model => model.SecondarySkills, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <p>
        <div class="panel-footer">
            <input type="submit" value="Proceed to Update Your Skills" class="btn btn-primary" />
        </div>
    </p>
}
