@model List<Agilisium.TalentManager.WebUI.Models.EmployeeSkillModel>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TechSkillName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rating)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.HiddenFor(modelItem => item.SkillCategoryID)
            @Html.HiddenFor(modelItem => item.EmployeeID)
            @Html.HiddenFor(modelItem => item.TechSkillID)
            @Html.HiddenFor(modelItem => item.EmployeeSkillID)
            @Html.DisplayFor(modelItem => item.TechSkillName)
        </td>
    </tr>
}

</table>
