@using Agilisium.TalentManager.WebUI.Models
@model Agilisium.TalentManager.WebUI.Models.EmpAssetDetailViewModel

@{
    ViewBag.Title = "Manage Your Technology Skills";
    Layout = "~/Views/Shared/_OpenLayout.cshtml";
}


<table style="width:100%">
    <tr>
        <td align="center">
            <h2>Update Technology Skills</h2>
            <table style="width:80%;" class="table table-striped table-condensed table-bordered">
                <tr>
                    <th>
                        <h4><b>Your Skills</b></h4>
                    </th>
                    <th>
                        <h4><b>Additionally Configurable Skills</b></h4>
                    </th>
                </tr>
                @foreach (var category in Model.SkillCategories)
                {
                    <tr>
                        <td style="background-color:cornflowerblue" colspan="2">
                            <h4>Technology Area : <b>@Html.DisplayTextFor(model => category.CategoryName)</b></h4>
                            @Html.HiddenFor(model => category.CategoryID)
                        </td>
                    </tr>
                    <tr>
                        <td style="width:60%">
                            <table class="table table-striped table-condensed table-bordered">
                                @{
                                    List<EmployeeSkillModel> employeeSkills = Model.EmployeeSkills.Where(e => e.SkillCategoryID == category.CategoryID).ToList();
                                    <tr>
                                        <th> @Html.DisplayNameFor(model => employeeSkills.FirstOrDefault().TechSkill)</th>
                                        <th> @Html.DisplayNameFor(model => employeeSkills.FirstOrDefault().Rating)</th>
                                        <th style="text-align:center"> Modify</th>
                                        <th style="text-align:center"> Remove</th>
                                    </tr>
                                    if(employeeSkills.Count==0)
                                    {
                                        <tr>
                                            <td align="center" colspan="4">
                                                No Skills Configured
                                            </td>
                                        </tr>
                                    }
                                    foreach (var item in employeeSkills)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayTextFor(model => item.TechSkill)
                                                @Html.HiddenFor(model => item.TechSkillID)
                                            </td>
                                            <td>
                                                @Html.DisplayTextFor(model => item.Rating)
                                                @Html.HiddenFor(model => item.RatingID)
                                            </td>
                                            <td align="center">
                                                @Html.ActionLink("Modify", "ModifyEmpSkill", new { id = item.EmployeeSkillID, eeid = item.EmployeeEntryID,eid=Model.EmployeeID })
                                            </td>
                                            <td align="center">
                                                @Html.ActionLink("Remove", "RemoveEmpSkill", new { sid = item.EmployeeSkillID, eeid = item.EmployeeEntryID, eid = Model.EmployeeID })
                                            </td>
                                        </tr>
                                    }
                                }
                            </table>
                        </td>
                        <td>
                            <table style="background-color:burlywood;" class="table table-condensed table-bordered">
                                @{
                                    List<TechSkillModel> availableSkills = Model.AvailableSkills.Where(e => e.TechSkillCategoryID == category.CategoryID).ToList();
                                    <tr>
                                        <th>@Html.DisplayNameFor(model => availableSkills.FirstOrDefault().TechSkillName)</th>
                                        <th style="text-align:center">Add</th>
                                    </tr>
                                    if (availableSkills.Count == 0)
                                    {
                                        <tr>
                                            <td align="center" colspan="2">
                                                No Other Skills to Configure
                                            </td>
                                        </tr>
                                    }
                                    foreach (var item in availableSkills)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayTextFor(model => item.TechSkillName)
                                                @Html.HiddenFor(model => item.TechSkillID)
                                            </td>
                                            <td align="center">
                                                @Html.ActionLink("Add", "AddEmpSkill", new { sid = item.TechSkillID, eid = Model.EmployeeID, eeid = Model.EmployeeEntryID })
                                            </td>
                                        </tr>
                                    }
                                }
                            </table>
                        </td>
                    </tr>
                }
                <tr>
                    <td colspan="2">
                        @Html.ActionLink("Back to Employee Basic Details", "Index", new { eid = Model.EmployeeID }, new { @class = "btn btn-primary" })
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

