<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/error-styles.css" rel="stylesheet" />
    <link href="~/Content/dashboard.css" rel="stylesheet" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>

    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/Agilisium/content-updater.js"></script>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script>
        rootUrl = '@Url.Content("~")';
    </script>
</head>
<body>
    <table style="height:100%; width:100%;">
        <tr>
            <td>
                <div class="navbar navbar-inverse navbar-fixed-top" style="margin-left:5px;">
                    <div class="container">
                        <div class="navbar-header">
                            <div class="navbar-header pull-left" style="vertical-align:top">
                                <a class="navbar-brand" href="@Url.Action("Index", "Default")">
                                    <img src="~/Content/Images/agilisium.jpg" alt="Agilisium-Talent Manager" style="height:25px;width:25px;" />
                                </a>
                            </div>
                        </div>
                        <div class="navbar-collapse collapse">
                            <ul class="nav navbar-nav" style="color:darkblue; font-weight:bold;">
                                @if (Request.IsAuthenticated)
                                {
                                    if (Request.Url.ToString().ToLower().Contains("employee")
                                            && Request.Url.ToString().ToLower().Contains("allocation") == false)
                                    {
                                        <li>@Html.ActionLink("Employees", "List", "Employee", new { @style = "color:GreenYellow" })</li>
                                    }
                                    else
                                    {
                                        <li>@Html.ActionLink("Employees", "List", "Employee")</li>
                                    }

                                    if (Request.Url.ToString().ToLower().Contains("accounts"))
                                    {
                                        <li>@Html.ActionLink("Accounts", "List", "Accounts", new { @style = "color:GreenYellow" })</li>
                                    }
                                    else
                                    {
                                        <li>@Html.ActionLink("Accounts", "List", "Accounts")</li>
                                    }

                                    if (Request.Url.ToString().ToLower().Contains("project")
                                            && Request.Url.ToString().ToLower().Contains("managerwiseprojects") == false
                                            && Request.Url.ToString().ToLower().Contains("allocationhistory") == false)
                                    {
                                        <li>@Html.ActionLink("Projects", "List", "Project", new { @style = "color:GreenYellow" })</li>
                                    }
                                    else
                                    {
                                        <li>@Html.ActionLink("Projects", "List", "Project")</li>
                                    }

                                    if (Request.Url.ToString().ToLower().Contains("allocation") && Request.Url.ToString().ToLower().Contains("managerwiseallocations") == false
                                            && Request.Url.ToString().ToLower().Contains("billabilitywiseallocationdetail") == false
                                            && Request.Url.ToString().ToLower().Contains("billabilitywiseallocationsummary") == false)
                                    {
                                        <li>@Html.ActionLink("Allocations", "List", "Allocation", new { @style = "color:GreenYellow" })</li>
                                    }
                                    else
                                    {
                                        <li>@Html.ActionLink("Allocations", "List", "Allocation")</li>
                                    }

                                    if (User.IsInRole("Human Resource") || User.IsInRole("Super Admin"))
                                    {
                                        if (Request.Url.ToString().ToLower().Contains("repos"))
                                        {
                                            <li> @Html.ActionLink("Recruitment", "List", "RePos", new { @style = "color:GreenYellow" }) </li>
                                        }
                                        else
                                        {
                                            <li> @Html.ActionLink("Recruitment", "List", "RePos") </li>
                                        }
                                    }

                                    if (User.IsInRole("Human Resource") || User.IsInRole("Super Admin"))
                                    {
                                        if (Request.Url.ToString().ToLower().Contains("assets"))
                                        {
                                            <li> @Html.ActionLink("Assets", "List", "BuzAssets", new { @style = "color:GreenYellow" }) </li>
                                        }
                                        else
                                        {
                                            <li> @Html.ActionLink("Assets", "List", "BuzAssets") </li>
                                        }
                                    }

                                    if (Request.Url.ToString().ToLower().Contains("reports"))
                                    {
                                        <li>@Html.ActionLink("Reports", "Index", "Reports", new { @style = "color:GreenYellow" })</li>
                                    }
                                    else
                                    {
                                        <li>@Html.ActionLink("Reports", "Index", "Reports")</li>
                                    }
                                }

                                @if (Request.Url.ToString().ToLower().Contains("category")
                                || Request.Url.ToString().ToLower().Contains("subcategory")
                                || Request.Url.ToString().ToLower().Contains("practice")
                                || Request.Url.ToString().ToLower().Contains("subpractice")
                                || Request.Url.ToString().ToLower().Contains("users")
                                || Request.Url.ToString().ToLower().Contains("roles")
                                || Request.Url.ToString().ToLower().Contains("elogin")
                                || Request.Url.ToString().ToLower().Contains("bulevel")
                                || Request.Url.ToString().ToLower().Contains("rlevel")
                                || Request.Url.ToString().ToLower().Contains("manage")
                                || Request.Url.ToString().ToLower().Contains("register")
                                || Request.Url.ToString().ToLower().Contains("certs")
                                || Request.Url.ToString().ToLower().Contains("changepassword")
                                )
                                {
                                    if (User.IsInRole("Admin") || User.IsInRole("Super Admin"))
                                    {
                                        <li>@Html.ActionLink("Admin", "List", "Category", new { @style = "color:GreenYellow" })</li>
                                    }
                                    else
                                    {
                                        <li>@Html.ActionLink("Admin", "ChangePassword", "Manage", new { @style = "color:GreenYellow" })</li>
                                    }
                                }
                                else
                                {
                                    if (User.IsInRole("Admin") || User.IsInRole("Super Admin"))
                                    {
                                        <li>@Html.ActionLink("Admin", "List", "Category")</li>
                                    }
                                    else
                                    {
                                        <li>@Html.ActionLink("Admin", "ChangePassword", "Manage")</li>
                                    }
                                }
                            </ul>
                            @Html.Partial("_LoginPartial")
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td valign="top">
                <div style="margin-left:5px; height:100%">
                    <table style=" margin-top:5px; height:100%; width:90%">
                        <tr style="height:100%">
                            <td style="vertical-align:top; background-color:#222222; width:175px;">
                                <ul class="nav navbar-nav" style="font-size:1em; font-weight:bold;">
                                    @if (User.IsInRole("Admin") || User.IsInRole("Super Admin"))
                                    {
                                        if (Request.Url.ToString().ToLower().Contains("category") && !Request.Url.ToString().ToLower().Contains("subcategory"))
                                        {
                                            <li>@Html.ActionLink("Categories", "List", "Category", new { @style = "color:GreenYellow" })</li>
                                        }
                                        else
                                        {
                                            <li>@Html.ActionLink("Categories", "List", "Category")</li>
                                        }
                                        if (Request.Url.ToString().ToLower().Contains("subcategory") && Request.Url.ToString().ToLower().Contains("category"))
                                        {
                                            <li>@Html.ActionLink("Sub Categories", "List", "SubCategory", new { @style = "color:GreenYellow" })</li>
                                        }
                                        else
                                        {
                                            <li>@Html.ActionLink("Sub Categories", "List", "SubCategory")</li>
                                        }
                                        if (Request.Url.ToString().ToLower().Contains("bulevel"))
                                        {
                                            <li>@Html.ActionLink("BU Levels", "List", "BuLevel", new { @style = "color:GreenYellow" })</li>
                                        }
                                        else
                                        {
                                            <li>@Html.ActionLink("BU Levels", "List", "BuLevel")</li>
                                        }
                                        if (Request.Url.ToString().ToLower().Contains("rlevel"))
                                        {
                                            <li>@Html.ActionLink("Resource Levels", "List", "RLevel", new { @style = "color:GreenYellow" })</li>
                                        }
                                        else
                                        {
                                            <li>@Html.ActionLink("Resource Levels", "List", "RLevel")</li>
                                        }
                                        if (Request.Url.ToString().ToLower().Contains("certs"))
                                        {
                                            <li>@Html.ActionLink("Certifications", "List", "Certs", new { @style = "color:GreenYellow" })</li>
                                        }
                                        else
                                        {
                                            <li>@Html.ActionLink("Certifications", "List", "Certs")</li>
                                        }
                                    }
                                    @if (Request.Url.ToString().ToLower().Contains("manage"))
                                    {
                                        <li>@Html.ActionLink("Change Password", "ChangePassword", "Manage", new { @style = "color:GreenYellow" })</li>
                                    }
                                    else
                                    {
                                        <li>@Html.ActionLink("Change Password", "ChangePassword", "Manage")</li>
                                    }
                                    @if (User.IsInRole("Super Admin"))
                                    {
                                        if (Request.Url.ToString().ToLower().Contains("roles"))
                                        {
                                            <li>@Html.ActionLink("User Roles", "List", "Roles", new { @style = "color:GreenYellow" })</li>
                                        }
                                        else
                                        {
                                            <li>@Html.ActionLink("User Roles", "List", "Roles")</li>
                                        }

                                        if (Request.Url.ToString().ToLower().Contains("elogin"))
                                        {
                                            <li>@Html.ActionLink("Login Accounts", "List", "ELogin", new { @style = "color:GreenYellow" })</li>
                                        }
                                        else
                                        {
                                            <li>@Html.ActionLink("Login Accounts", "List", "ELogin")</li>
                                        }
                                    }
                                </ul>
                            </td>
                            <td valign="top">
                                @if (TempData["SuccessMessage"] != null)
                                {
                                    <div style="font-weight:bold;color:darkgreen; border-bottom-width:1px; border-bottom-right-radius:40%; border-bottom-left-radius:40%; font-size:large; text-align:center" class="alert alert-success">
                                        @TempData["SuccessMessage"]
                                    </div>
                                }
                                @if (TempData["WarningMessage"] != null)
                                {
                                    <div style="font-weight:bold;color:darkblue; border-bottom-width:1px; border-bottom-right-radius:40%; border-bottom-left-radius:40%; font-size:large; text-align:center" class="alert alert-warning">
                                        @TempData["WarningMessage"]
                                    </div>
                                }
                                @if (TempData["ErrorMessage"] != null)
                                {
                                    <div style="font-weight:bold;color:red; border-bottom-right-radius:40%; border-bottom-left-radius:40%; border-bottom-width:1px; font-size:large; text-align:center" class="alert alert-danger">
                                        @TempData["ErrorMessage"]
                                    </div>
                                }
                                @RenderBody()
                            </td>
                        </tr>
                    </table>
                    <hr />
                </div>
            </td>
        </tr>
    </table>
    @*@Scripts.Render("~/bundles/jquery")*@
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
